@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello CICD,please work  work  work, version Dev.10.0 </a>.</p>
</div>
